<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.byters.bcbarbershop"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <application
        android:name=".controllers.Controller"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activities.ActivityMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ActivityNewsDetails"
            android:label="@string/title_activity_news_details" />
        <activity
            android:name=".ui.activities.ActivityShop"
            android:label="@string/title_activity_activity_shop" />
        <activity
            android:name=".ui.activities.ActivityProductInfo"
            android:screenOrientation="portrait" />
        <!--        <activity
                    android:name=".ui.activities.ActivityEnroll"
                    android:label="@string/title_activity_activity_enroll" />
                <activity
                    android:name=".ui.activities.ActivityDateTime"
                    android:label="@string/title_activity_activity_date_time" />
                <activity
                    android:name=".ui.activities.ActivityMaestro"
                    android:label="@string/title_activity_activity_maestro" />
                -->
    </application>

</manifest>
